body {
    font-family : 'Google Sans', Arial, sans-serif;
    background : white;
    display : flex;
    justify-content : center;
    align-items : flex-start;
    min-height : 100px;
    margin : 0;
    padding : 40px;
}

.form-container {
    background : white;
    padding : 50px 60px;
    border-radius : 12px;
    width : 100%;
    max-width : 750px;
}

h1 {
    text-align : center;
    font-size : 32px;
    color : black;
    margin-bottom : 40px;
    font-weight : 500;
}

.form-section {
    margin-bottom : 100px;
}

label {
    display : block;
    font-weight : 500;
    font-size : 15px;
    margin-bottom : 14px;
    color : black;
}

input, textarea {
    width : 100%;
    padding : 16px;
    border : 1px solid gray;
    font-size : 18px;
    outline : none;
    background : white;
    border-radius : 8px;
}

textarea {
    resize : vertical;
    min-height : 150px;
    border-width : 1px;
    border-color : gray;
}

.text {
    font-size : 20px;
    font-family : "Times New Roman", sans-serif;
    font-weight : bold;
}

button {
    background : dodgerblue;
    color : white;
    border : none;
    font-size : 18px;
    border-radius : 8px;
    display : block;
    margin : 40px auto 0 auto;
    width : 100%;
    max-width : 350px;
}

button {
    background : royalblue;
}

.Message {
    color : red;
    font-size: 30px;
}