<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link href="../static/CSS.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-container">
        <h1>911 Department Feedback Form</h1>
        <form action = "/insert" method="POST">
            <!-- creating the form and the questions to be answered -->
            <div class="form-section">
                <label class = "text">Rating (1-10)</label>
                <input type="number" name="rating" min="1" max="10" placeholder="1-10" required>
            </div>

            <div class="form-section">
                <label class = "text">Call Experience (1-10)</label>
                <input type="number" name="call_experience" min="1" max="10" placeholder="1-10" required>
            </div>

            <div class="form-section">
                <label class = "text">Response Time</label>
                <input type="number" name="response_time" min="1" max="10" placeholder="1-10" required>
            </div>

            <div class="form-section">
                <label class = "text">Extra Comments</label>
                <textarea name="comments" placeholder="Your feedback here..."></textarea>
            </div>
            <!-- the submit button of the form -->
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
