<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/LoginPageStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- creating the form where the user would insert their answers -->
    <form action="/" method="POST">
        <div class = "LoginPageDiv">
            <div class = "div1"> Login </div>
            <div class = "div2"> <textarea name="email" placeholder="Email"></textarea> </div>
            <div class = "div3"> <textarea name = "password" placeholder="Password"></textarea></div>
            <!-- this checks if there is an error this will print a message -->
            {% if error %} <div class = "Message"> {{ error }} </div> {% endif %}
            <div class = "button"> <button type = "submit"> Login </button></div>
        </div>
    </form>
</body>
</html>