.LoginPageDiv {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    height : 100vh;
}
 .div1 {
    text-align : center;
    font-size : 40px;
    font-weight : bold;
    font-family : "Arial", sans-serif;
    padding-bottom : 25px;
}
textarea {
    min-height : 40px;
    max-height : 40px;
    min-width : 500px;
    max-width : 500px;
    border-width : 1px;
    border-color : gray;
}
button {
    background : dodgerblue;
    color : white;
    font-size : 25px;
    border-radius : 8px;
    display : block;
    margin : 40px auto 0 auto;
}
textarea {
    font-size : 23px;
}
.Message {
    color : red;
    margin-top : 10px;
}