.Department {
    font-size : 50px;
    font-family : "Times New Roman", sans-serif;
    font-weight : bold;
    text-align : center;
    margin-top : 30px;
}
.RowTitles {
    display : flex;
}
.RowTitles2 {
    display : flex;
}
.SearchOption {
    margin-left : 30px;
    margin-top : 30px;
    border-width : 2px 2px 0 2px;
    border-style : solid;
    border-color : black;
    width : 300px;
    height : 32px;
    border-radius : 10px 10px 0 0;

    font-size : 25px;
    font-family: "Times New Roman", sans-serif;
    text-align : center;
}
.DateScroller {
    margin-left : 30px;
    border-style : solid;
    border-width : 0 2px 2px 2px;
    border-color : black;
    border-radius : 0 0 10px 10px;
    width : 300px;
    height : 170px;
    text-align: center;
}
.CustomerTitle {
    width : fit-content;
    margin: 20px 250px 10px;
    text-align : center;
    font-size : 29px;
    font-family: "Times New Roman", sans-serif;
    color : gray;
    font-weight: bold;
}

.CircularChart {
    width: 700px;
    height: 300px;
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.CircularChart canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.valuetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}
.valuetexttitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}
.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin-left: 30px;
    margin-top: -40px;
}

.totalText {
  margin-top: -20px;
  font-size: 18px;
  font-family: "Times New Roman", sans-serif;
}

.Comments {
    margin-left : 30px;
    border-style : solid;
    border-width : 2px;
    border-color : black;
    border-radius : 10px;
    width : 300px;
    height : 500px;
    font-family: "Segoe UI", sans-serif;
}

.Comments h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.CommentsBox {
    max-height: 420px;
    overflow-y: auto;
    background-color: white;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CommentItem {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 10px 14px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.NoComments {
    text-align: center;
    color: grey;
    font-style: italic;
    font-size: 16px;
}
